In [7]:
from bs4 import BeautifulSoup
import pandas as pd

In [8]:
file_path = '/home/pushkar/Desktop/PE_Sem7/IIITBwebpage/www.iiitb.ac.in/deans-list.html'

# Read the HTML content from the file
with open(file_path, 'r', encoding='utf-8') as file:
    html_content = file.read()

# Parse the HTML content
parser = BeautifulSoup(html_content, 'html.parser')

In [10]:
list_all = parser.find_all('tr')
series_4_df = pd.Series(list_all)

# create a dataframe from pandas series:
df = pd.DataFrame(series_4_df, columns=['content'])
df['content'] = df['content'].astype(str)
df.shape

(110, 1)

In [15]:
df.loc[1,'content']

'<tr height="46">\n<td height="46" style="height:47px;">1</td>\n<td>DT2020009</td>\n<td>Gayatri Raman</td>\n</tr>'

In [39]:
df['Roll Number'] = df['content'].str.extract('<td>(.*?)</td>')

In [34]:
df.head()

,content,title,Roll Number,Roll Number1
0,"<tr height=""46"">\n<td height=""46"" style=""heigh...",NaN,NaN,NaN
1,"<tr height=""46"">\n<td height=""46"" style=""heigh...",DT2020009,DT2020009,NaN
2,"<tr height=""46"">\n<td height=""46"" style=""heigh...",DT2021017,DT2021017,NaN
3,"<tr height=""46"">\n<td height=""46"" style=""heigh...",MT2020010,MT2020010,NaN
4,"<tr height=""46"">\n<td height=""46"" style=""heigh...",MT2020011,MT2020011,NaN